a,btn{
    cursor: pointer;
}
.main-search {
    height: 400px;
    white-space: -20px;
}
.main-search:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main-search-box {
    display: inline-block;
    width: 95%;
    text-align: center;
    z-index: 20;
    vertical-align: middle;
    letter-spacing: normal;
}

.main-search>.carousel-indicators {
    height: auto;
    white-space: normal;
}

.main-search>.carousel-indicators li {
    color: white;
    background-color: initial;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.main-search>.carousel-indicators .active {
    background-color: initial;
    border-color: #fff;
}

.main-search>.carousel-indicators li {
    padding: 8px 16px;
    width: auto;
    height: auto;
    font-size: 18px;
    text-indent: 0;
    text-transform: uppercase;
}

.main-search>.carousel-indicators li:before,
.main-search>.carousel-indicators li:after {
    display: none;
}

.main-search>.carousel-indicators li * {
    color: white;
}
.main-search .carousel-item>img {
    height: 100%;
}

.main-search .carousel-item>.carousel-caption {
    top: 40%;
    right: 0;
    left: 0;
    bottom: auto;
    font-size: 75px;
}

.main-search .carousel-item>.carousel-caption>h3 {
    font-size: inherit;
}

.main-search > .carousel-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
}
.main-search  .carousel-caption{
    display: none!important;
}
.main-search-title{
    color: white;
}