div,p,span,ul,li,table,td,tr,tbody,thead,strong,sup,img,a{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-weight: 100;
    color: #222;
}
a,
button,
.btn {
    cursor: pointer;
}
a:hover{
    color: #06f;
}

.main-search {
    height: 400px;
    white-space: -20px;
}

.main-search:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main-search-box {
    position: relative;
    display: inline-block;
    margin-right: -2%;
    width: 99%;
    text-align: center;
    z-index: 20;
    vertical-align: middle;
    letter-spacing: normal;
}

.main-search>.carousel-indicators {
    height: auto;
    white-space: normal;
}

.main-search>.carousel-indicators li {
    color: white;
    background-color: initial;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.main-search>.carousel-indicators .active {
    background-color: initial;
    border-color: #fff;
}

.main-search>.carousel-indicators li {
    padding: 8px 16px;
    width: auto;
    height: auto;
    font-size: 18px;
    text-indent: 0;
    text-transform: uppercase;
}

.main-search>.carousel-indicators li:before,
.main-search>.carousel-indicators li:after {
    display: none;
}

.main-search>.carousel-indicators li * {
    color: white;
}

.main-search .carousel-item>img {
    height: 100%;
}

.main-search .carousel-item>.carousel-caption {
    top: 40%;
    right: 0;
    left: 0;
    bottom: auto;
    font-size: 75px;
}

.main-search .carousel-item>.carousel-caption>h3 {
    font-size: inherit;
}

.main-search>.carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    text-align: center;
    background-color: #101f26;
}

.main-search .carousel-caption {
    display: none!important;
}

.main-search-title {
    margin-bottom: 10px;
    color: white;
}

.main-search-enter {
    margin: 0 auto;
    width: 70%;
    justify-content: center;
}

.main-search-enter .input-group {
    flex-grow: 1;
}
/* MODAL ENTRANCE */
.modal-entrance{}
.modal-entrance .modal-header{
    background-color: #00BBE2;
}
.modal-entrance .modal-header *{
    color: white;
}
.modal-entrance .modal-title{
    text-transform: uppercase;
}
.modal-entrance .tab-pane{
    padding: 20px;
}
/* SHOW BOX */
.show-box{
    margin-top: 50px;
}
.show-box-title:after{
    content: "";
    display: table;
    clear: both;
}
.show-box-title{
    padding: 10px 0 5px 0;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}
/* PRICE */
.price > * + *{
    margin-top: 5px;
}
.price-label{
    font-size: 12px;
}
.price-current{
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}
/* :START ITEM */
.item{}
.item > * + *{
    margin-top: 5px;
}
.item-img img{
    max-width: 95%;
}
.item-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
/* :START FOOTER */
.footer{
    margin-top: 30px;
    background-color: #222;
}
.footer *{
    color: #999!important;
}
.footer > .container{
    padding: 30px;
}
.footer .list-link a{
    color: white;
    font-weight: 100;
}
.list-link > li{
    padding: 0 5px;
    margin: 0!important;
}
.list-link > li + li{
    border-left: 1px solid #666;
}
/* NAVBAR */
.navbar-brand{
    font-weight: bold;
}
.navbar-header{
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    background: #41ad33;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar-toggle-close:hover,
.navbar-toggle-close{
    font-size: 24px;
    padding: 0 10px;
    color: white;
}
.navbar-collapse.collapse{
    width: 80%;
    height: 100%!important;
    -webkit-transition: width .35s ease;
    -moz-transition: width .35s ease;
    -o-transition: width .35s ease;
    transition: width .35s ease;
}
@media (max-width: 768px){
    .navbar-brand{
        display: block;
        margin: 0 auto;
    }
    .navbar-header{
        display: flex;
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%!important;
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
        box-shadow: 0 17px 31px -2px #000;
        color: #222;
        
    }
    
    .navbar-collapse.collapse.show{
        width: 80%;
    }
    .navbar-collapse.collapse .nav-link{
        color: #222!important;
    }
    .navbar-collapse > .navbar-nav > .nav-item {
        padding: 0 15px;
    }
}